html {
	font-size: 62.5%;
}

h1,
h2 {
	font-family: var(--ff-primary);
}

p,
a {
	font-family: var(--ff-secondary);
	font-size: 1.6rem;
	line-height: 2.8rem;
}

/* ================ utility classes */

.flex {
	display: flex;
}

.flex-between {
	justify-content: space-between;
}

.text-white {
	color: var(--clr-neutral-100);
}

.flex-wrapper {
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.relative {
	position: relative;
}

/* ================ text-styling */

.hero-title {
	margin: auto;
	font-size: 5rem;
	text-align: center;
	margin-bottom: 4rem;
}

.underline__secondary {
	border-bottom: 2px solid var(--clr-secondary);
}

/* ================ buttons and links */

.nav-link {
	color: var(--clr-neutral-100);
}

.btn__secondary {
	background-color: var(--clr-secondary);
	font-weight: 700;
	padding: 1.2rem 2.4rem;
}

/* ================ backgrounds */

.bg-primary {
	background-color: var(--clr-primary);
}

.bg-neutral {
	background-color: var(--clr-neutral-200);
}

.bg-white {
	background-color: var(--clr-neutral-100);
}

/* ================ home header */
.header-wrapper {
	padding: 3.2rem 1.6rem;
}

/* ================ home hero */

.hero__text-wrapper {
	text-align: center;
	padding: 6.6rem 1.6rem;
}

.hero__img {
	bottom: -15%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	max-width: 40rem;
}

/* =================== curves */

.curve {
	height: 15rem;
	width: 100%;
	background-color: var(--clr-primary);
	clip-path: ellipse(60% 55% at 50% 0%);
}

.curve-primary {
	background-color: var(--clr-primary);
}
.curve-neutral {
	background-color: var(--clr-neutral-200);
}

/* =================== section 1 */

.flow-45 > * {
	margin-top: 4.5rem;
}

.flow-16 > * {
	margin-top: 1.6rem;
}

.card-wrapper {
	padding: 8rem 1.6rem 0rem 1.6rem;
	width: 100%;
}

.card__number {
	font-size: 2rem;
	border: 1px solid var(--clr-primary);
	padding: 9px 18px;
	font-weight: 600;
	border-radius: 40px;
}

.card__h2 {
	font-size: 2.8rem;
}

.card__h2,
.card__p,
.card__number {
	max-width: 80ch;
	color: var(--clr-primary);
}

@media (min-width: 768px) {
	p,
	a {
		font-size: 1.8rem;
	}

	.hero-title {
		font-size: 6rem;
		margin-bottom: 5rem;
		max-width: 55rem;
	}
}

@media (min-width: 1440px) {
	.card__h2 {
		font-size: 3.2rem;
	}

	.card__number {
		font-size: 2.4rem;
	}

	.hero-title {
		font-size: 8rem;
	}
}
