html {
	font-size: 62.5%;
}

h1,
h2 {
	font-family: var(--ff-primary);
}

p,
a {
	font-family: var(--ff-secondary);
	font-size: 1.6rem;
	line-height: 2.8rem;
}

/* ================ utility classes */

.flex {
	display: flex;
}

.flex-between {
	justify-content: space-between;
}

.text-white {
	color: var(--clr-neutral-100);
}

.flex-card,
.flex-card-text,
.flex-footer {
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.relative {
	position: relative;
}

/* ================ text-styling */

.hero-title {
	margin: auto;
	font-size: 5rem;
	text-align: center;
	margin-bottom: 4rem;
}

.underline__secondary {
	border-bottom: 2px solid var(--clr-secondary);
}

/* ================ buttons and links */

.nav-link {
	color: var(--clr-neutral-100);
}

.btn__secondary {
	background-color: var(--clr-secondary);
	font-weight: 700;
	padding: 1.2rem 2.4rem;
}

/* ================ backgrounds */

.bg-primary {
	background-color: var(--clr-primary);
}

.bg-neutral {
	background-color: var(--clr-neutral-200);
}

.bg-white {
	background-color: var(--clr-neutral-100);
}

/* ================ home header */
.header-wrapper {
	padding: 3.2rem 1.6rem;
}

/* ================ home hero */

.hero__text-wrapper {
	text-align: center;
	padding: 6.6rem 1.6rem;
}

.hero__img {
	bottom: -15%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	max-width: 40rem;
}

/* =================== curves */

.curve {
	height: 15rem;
	width: 100%;
	background-color: var(--clr-primary);
	clip-path: ellipse(60% 55% at 50% 0%);
	position: relative;
}

.curve-primary {
	background-color: var(--clr-primary);
}
.curve-neutral {
	background-color: var(--clr-neutral-200);
}

/* =================== section 1 */

.flow-45 > * {
	margin-top: 4.5rem;
}

.flow-16 > * {
	margin-top: 1.6rem;
}

.card-wrapper {
	padding: 8rem 1.6rem 0rem 1.6rem;
	width: 100%;
}

.card__number {
	font-size: 2rem;
	border: 1px solid var(--clr-primary);
	padding: 9px 18px;
	font-weight: 600;
	border-radius: 40px;
}

.card__h2 {
	font-size: 2.8rem;
}

.card__h2,
.card__p,
.card__number {
	max-width: 80ch;
	color: var(--clr-primary);
}

/* =================== section 2 */

.ss2__img {
	width: 60%;
	max-width: 450px;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: -6.2rem;
	z-index: -1;
	position: relative;
}

.ss2__h2 {
	font-size: 3.2rem;
}

.ss2__wrapper {
	margin: 1.6rem;
}

.ss2__text-wrapper {
	padding: 3.2rem 1.6rem 4.4rem 1.6rem;
	gap: 1.6rem;
}

.ss2__p {
	margin-bottom: 2.4rem;
}

/* ================= footer  */

.footer {
	margin-top: 7.4rem;
}

.social-icons {
	gap: 3.2rem;
	margin: 6.4rem;
}

@media (min-width: 768px) {
	.hero-title {
		font-size: 6rem;
		margin-bottom: 5rem;
		max-width: 55rem;
	}

	.hero__img {
		max-width: 48rem;
		bottom: -8%;
	}

	.ss2__h2 {
		font-size: 4.8rem;
	}

	.curve {
		height: 25rem;
	}

	.header-wrapper {
		padding: 3.2rem 4rem;
	}

	.flex-card {
		flex-direction: row;
		gap: 3.2rem;
	}
	.flex-card-text {
		align-items: start;
		text-align: start;
	}

	.card-wrapper {
		padding: 8rem 9.8rem 0rem 9.8rem;
		display: grid;
		place-items: center;
	}

	.ss2__wrapper {
		padding: 6.4rem;
		margin: 0rem 1.6rem;
		gap: 1.6rem;
		max-width: 100vw;
	}

	.ss2__img {
		width: 60%;
		max-width: 450px;
		left: 0%;
		transform: translateX(-50%);
		transform: translatey(-30%);
		margin-bottom: -21rem;
		position: absolute;
		z-index: 1;
	}

	#index__ss-2 {
		max-width: 90vw;
	}

	.ss2__text-wrapper {
		position: relative;
		left: 25rem;
		top: 15rem;
		padding: 6.4rem;
		z-index: 2;
	}
	.ss2__wrapper {
	}
}

@media (min-width: 1440px) {
	p,
	a {
		font-size: 1.8rem;
	}

	.card__h2 {
		font-size: 3.2rem;
	}

	.card__number {
		font-size: 2.4rem;
	}

	.hero-title {
		font-size: 8rem;
	}
}
