:root {
	/* colors */
	--clr-primary: #24053e;
	--clr-secondary: #44ffa1;
	--clr-tertiary: #584d62;
	--clr-neutral-100: #ffffff;
	--clr-neutral-200: #fcf8ff;
	--ff-primary: "Fraunces", serif;
	--ff-secondary: "Manrope", sans-serif;
	/* font-sizes */
	--fs-36: 3.6rem;
	--fs-32: 3.2rem;
	--fs-24: 2.4rem;
	--fs-20: 2rem;
	--fs-18: 1.8rem;
	--fs-16: 1.6rem;
	--fs-14: 1.4rem;
	/* font-weights */
	--fw-400: 400;
	--fw-700: 700;
	/* size/spacing values */
	--size-8: 0.5rem;
	--size-12: 0.75rem;
	--size-16: 1rem;
	--size-20: 1.25rem;
	--size-32: 2rem;
	--size-36: 2.25rem;
}
